* {
	box-sizing: border-box;
}

body {
  color: #f0efef;
  font-size: 18px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}

.logo {
  color: #fff;
  float: left;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}

header nav {
  float: right;
  margin-top: 15px;
}

header nav ul {
	margin: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

fieldset {
      border: none;
    padding-bottom: 50px;
}

div {
  margin-top:20px;
  margin-bottom:20px;
}

legend {
  border-bottom: 2px black solid;
}
input:focus {
    outline-color:yellow;
}

/* -------------------------------- 

Form

-------------------------------- */

