/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.pageheader {
	width:100%;
	float:left;
}

.main {
	width:60%;
	float:left;
}

.sideBar {
	width:40%;
	float:left;
}

.pagefooter{
	width:100%;
float:left;}