body {
  font-family: helvetica;
  margin:20px;
      border-bottom: 5px solid #222222;
    border-top: 5px solid #222222;
    padding:45px;
    background: #F6F6F6;


}

/* Titles */

h1.sitename {
  text-transform: uppercase;

}

.commonstyles h1  {
  text-transform: uppercase;

}

.commonstyles h2 {

}

.commonstyles h3 {
  margin-top: 42px;
  
}

.commonstyles h4 {
  margin-bottom: 0;
 
}

/* body and lists */

.commonstyles p {
  margin-top: 0;
  margin-bottom: 27px;
    font-family: Georgia;
    color: #05080C;
    font-size: 14px;
}

.commonstyles a {
  color:#000;
}

.commonstyles ul {
  list-style: square;
}

.commonstyles ul p {

}

.commonstyles li {
  font-size:16px;
      line-height: 26px;

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.contents {

  max-width: 300px;
  float:right;
  margin: 0 0 20px 20px;
}

.li-1{
  font-size:16px;

}

.li-1 > a {
  color:#000;

}

.li-2{
  font-size:13px;
  color:#3344aa;

}

.li-2 > a {
  color:#3344aa;

}

p.bib {
  font-family: helvetica;
}

cite {
  font-size:18px;
}

/*images*/

img.map{
  float:right;
  padding:10px;

}

/*datatables*/

.datatable td {
  padding: 8px 14px;
  font-family:sans-serif;
}

.datatable td:first-child{
  font-size: 11px;
  text-transform: uppercase;
    font-weight: bold;
}
