/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
}

.total {
       border: none;
    height:400px;

}

.header {
     width: 100%;
     color: white;
     font-size: 24px;
     line-height: 1.4;
     font-family:'Open Sans', sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size:100% 100%;
      float:left;
}

.sectionA {
     width:100%;
     color:#f0efef;
     clear:both;

}

.relax {
     text-transform: bolder;
     padding:10px;
}

.overlay {
     margin-left:80px;
}

.mind {
 text-align: center;
 font-size:37px;
 
}

.mybutton {
     background-color:yellow;
     border-radius: 5px;
     display:inline-block;
     cursor:pointer;
     color:#000;
     font-family:'Open Sans', sans-serif;
     font-size:14px;
     font-weight:bolder;
     padding:6px 24px;
     text-decoration:none;
}
.get:hover {
background-color:yellow;
}
.get:active {
     position:relative;
     top:1px;
}

